n8n/workflows/spokes/gmail-digest/gmail-digest.json
{
  "id": "gmail-digest",
  "name": "gmail-digest",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 24
            }
          ],
          "triggerAtHour": 8,
          "triggerAtMinute": 0
        }
      },
      "id": "e5f6a7b8-5000-4000-e000-000000000001",
      "name": "Schedule 08:00 Daily",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "getAll",
        "options": {
          "q": "newer_than:1d -category:promotions -category:social",
          "maxResults": 50
        },
        "returnAll": true
      },
      "id": "e5f6a7b8-5000-4000-e000-000000000002",
      "name": "Fetch Inbox Snapshot",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [500, 300],
      "credentials": {
        "gmailOAuth2": {
          "id": "DC_GMAIL_CRED",
          "name": "Digital Clone Gmail"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Build a data_snapshot inbound-event summarising the inbox state.\n// The Hub routes data_snapshot events to the analyst model for deep reasoning.\n\nconst items = $input.all();\n\nconst extractHeader = (headers, name) => {\n  if (Array.isArray(headers)) {\n    const h = headers.find(h => h.name && h.name.toLowerCase() === name.toLowerCase());\n    return h ? h.value : '';\n  }\n  if (typeof headers === 'object') {\n    return headers[name] || headers[name.toLowerCase()] || '';\n  }\n  return '';\n};\n\nconst emails = [];\nlet unreadCount = 0;\nconst senders = new Set();\n\nfor (const item of items) {\n  const msg = item.json;\n  const headers = msg.payload ? msg.payload.headers : (msg.headers || {});\n  const from = extractHeader(headers, 'From');\n  const subject = extractHeader(headers, 'Subject');\n  const fromMatch = from.match(/([^<]*)<?([^>]+)?>?/);\n  const displayName = (fromMatch && fromMatch[1]) ? fromMatch[1].trim() : from;\n  const emailAddr = (fromMatch && fromMatch[2]) ? fromMatch[2].trim() : from;\n\n  const isUnread = (msg.labelIds && msg.labelIds.includes('UNREAD')) || (!msg.labelIds);\n  if (isUnread) unreadCount++;\n  senders.add(displayName || emailAddr);\n\n  emails.push({\n    id: msg.id,\n    threadId: msg.threadId,\n    from: displayName || emailAddr,\n    email: emailAddr,\n    subject: subject,\n    snippet: (msg.snippet || '').substring(0, 200),\n    is_unread: isUnread,\n    date: msg.internalDate ? new Date(parseInt(msg.internalDate)).toISOString() : null\n  });\n}\n\nconst dataPayload = {\n  total_emails: emails.length,\n  unread_count: unreadCount,\n  unique_senders: senders.size,\n  sender_list: Array.from(senders).slice(0, 20),\n  emails: emails.slice(0, 30),\n  snapshot_time: new Date().toISOString()\n};\n\nconst correlationId = crypto.randomUUID();\n\nreturn [{\n  json: {\n    schema_version: '1.0',\n    event_id: crypto.randomUUID(),\n    correlation_id: correlationId,\n    source: 'gmail-digest',\n    type: 'data_snapshot',\n    occurred_at: new Date().toISOString(),\n    text: 'Morning inbox digest: summarize the key emails that need attention. Group by urgency. Flag any requiring immediate action.',\n    data: dataPayload,\n    attachments: [],\n    metadata: {\n      trigger: 'scheduled',\n      report_date: new Date().toISOString().split('T')[0]\n    }\n  }\n}];"
      },
      "id": "e5f6a7b8-5000-4000-e000-000000000003",
      "name": "Build digest event",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [750, 300]
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": {
          "__rl": true,
          "value": "ai-hub",
          "mode": "list",
          "cachedResultName": "ai-hub"
        },
        "mode": "wait",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "e5f6a7b8-5000-4000-e000-000000000004",
      "name": "Call Hub",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 2,
      "position": [1000, 300]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.ai_path }}",
                    "rightValue": "alpha",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "or"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.ai_path }}",
                    "rightValue": "gamma",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "or"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.ai_path }}",
                    "rightValue": "deny",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "or"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "e5f6a7b8-5000-4000-e000-000000000005",
      "name": "Route by Path",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "={{ $env.SLACK_DEBRIEF_CHANNEL }}",
        "text": "={{ '*Morning Inbox Digest*\\n\\n' + ($json.ai_reply_text || 'No summary generated.') }}",
        "otherOptions": {
          "mrkdwn": true
        }
      },
      "id": "e5f6a7b8-5000-4000-e000-000000000006",
      "name": "Post Digest to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2,
      "position": [1500, 250],
      "credentials": {
        "slackApi": {
          "id": "DC_SLACK_CRED",
          "name": "Digital Clone Slack"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "={{ $env.SLACK_DEBRIEF_CHANNEL }}",
        "text": "={{ '*Digest Issue*\\n' + ($json.ai_guardrail_message || 'The inbox digest encountered a problem.') }}",
        "otherOptions": {
          "mrkdwn": true
        }
      },
      "id": "e5f6a7b8-5000-4000-e000-000000000007",
      "name": "Post Denial to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2,
      "position": [1500, 450],
      "credentials": {
        "slackApi": {
          "id": "DC_SLACK_CRED",
          "name": "Digital Clone Slack"
        }
      }
    }
  ],
  "connections": {
    "Schedule 08:00 Daily": {
      "main": [
        [
          {
            "node": "Fetch Inbox Snapshot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Inbox Snapshot": {
      "main": [
        [
          {
            "node": "Build digest event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build digest event": {
      "main": [
        [
          {
            "node": "Call Hub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Hub": {
      "main": [
        [
          {
            "node": "Route by Path",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Path": {
      "main": [
        [
          {
            "node": "Post Digest to Slack",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Post Digest to Slack",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Post Denial to Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "timezone": "={{ $env.GENERIC_TIMEZONE }}",
    "saveManualExecutions": true
  },
  "staticData": null,
  "pinData": {},
  "versionId": "1.0.0"
}
