n8n/workflows/spokes/kite-data/kite-data.json
{
  "id": "kite-data",
  "name": "kite-data",
  "nodes": [
    {
      "parameters": { "rule": { "interval": [{"field":"minutes","minutesInterval":15}] } },
      "id": "k1", "name": "Poll 15 Min", "type": "n8n-nodes-base.scheduleTrigger", "typeVersion": 1, "position": [250,300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.KITE_API_BASE_URL }}/portfolio/positions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": { "parameters": [
          {"name":"Authorization","value":"={{ 'token '+$env.KITE_API_KEY+':'+$env.KITE_ACCESS_TOKEN }}"},
          {"name":"X-Kite-Version","value":"3"}
        ]},
        "options": { "timeout": 15000 }
      },
      "id": "k2", "name": "Fetch Positions", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4, "position": [500,200]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.KITE_API_BASE_URL }}/portfolio/holdings",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": { "parameters": [
          {"name":"Authorization","value":"={{ 'token '+$env.KITE_API_KEY+':'+$env.KITE_ACCESS_TOKEN }}"},
          {"name":"X-Kite-Version","value":"3"}
        ]},
        "options": { "timeout": 15000 }
      },
      "id": "k3", "name": "Fetch Holdings", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4, "position": [500,400]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.KITE_API_BASE_URL }}/user/margins",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": { "parameters": [
          {"name":"Authorization","value":"={{ 'token '+$env.KITE_API_KEY+':'+$env.KITE_ACCESS_TOKEN }}"},
          {"name":"X-Kite-Version","value":"3"}
        ]},
        "options": { "timeout": 15000 }
      },
      "id": "k4", "name": "Fetch Margins", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4, "position": [500,600]
    },
    {
      "parameters": {
        "jsCode": "let items=$input.all();\nlet pos={net:[],day:[]},hold=[],marg={},pnl=0;\nfor(let it of items){\n let d=it.json||{};\n let data=d.data||d;\n if(data.net||data.day){\n  let mapPos=(arr)=>arr.map(p=>({sym:p.tradingsymbol,qty:p.quantity,avg:p.average_price,ltp:p.last_price,pnl:p.pnl||0,ur:p.unrealised||0,rel:p.realised||0}));\n  pos={net:mapPos(data.net||[]),day:mapPos(data.day||[])};\n  for(let p of pos.net)pnl+=p.pnl||0;\n  for(let p of pos.day)pnl+=p.pnl||0;\n }else if(Array.isArray(data)){\n  hold=data.map(h=>({sym:h.tradingsymbol,qty:h.quantity,avg:h.average_price,ltp:h.last_price,pnl:h.pnl||0,ur:h.unrealised||0}));\n  for(let h of hold)pnl+=h.pnl||0;\n }else if(data.equity||data.commodity){\n  let e=data.equity||{};\n  marg={cash:e.available?e.available.cash:0,net:e.net||0,used:e.utilised?e.utilised.exposure||0:0};\n }\n}\nlet posList=pos.net.concat(pos.day);\nlet hasPnl=pnl!==0;\nlet posSummary=posList.map(p=>p.sym+' Qty:'+p.qty+' LTP:'+p.ltp+' PnL:'+p.pnl).join('. ');\nlet holdSummary=hold.map(h=>h.sym+' Qty:'+h.qty).join(', ');\nlet prompt='Analyze portfolio snapshot. Positions: '+(posSummary||'none')+'. Holdings: '+(holdSummary||'none')+'. Total PnL: '+pnl+'. Margin cash: '+(marg.cash||0)+' used: '+(marg.used||0)+'. Flag ONLY problems needing attention. If all ok, say ALL_OK.';\nreturn [{json:{_pos:posList,_hold:hold,_marg:marg,_pnl:pnl,_prompt:prompt,_has_items:posList.length>0||hold.length>0||hasPnl}}]",
        "mode": "runOnceForAllItems"
      },
      "id": "k5", "name": "Merge Data", "type": "n8n-nodes-base.code", "typeVersion": 1, "position": [750,400]
    },
    {
      "parameters": { "jsCode": "let items=$input.all(),r=[];for(let i of items){if(i.json._has_items)r.push(i)}return r", "mode": "runOnceForAllItems" },
      "id": "k6", "name": "Skip Empty", "type": "n8n-nodes-base.code", "typeVersion": 1, "position": [900,400]
    },
    {
      "parameters": {
        "jsCode": "let items=$input.all(),r=[];\nfor(let it of items){\n let d=it.json,url='http://ollama:11434/api/generate',body=JSON.stringify({model:'llama3:8b',prompt:d._prompt,stream:false});\n try{\n  let resp=await this.helpers.httpRequest({method:'POST',url,body,headers:{'Content-Type':'application/json'},timeout:120000});\n  let reply=String(resp.response||'').trim();\n  if(reply.includes('ALL_OK')&&d._pnl===0&&d._pos.length===0){continue}\n  let msg='📊 Portfolio Alert: '+reply;\n  r.push({json:{_tg:msg,_wa:msg,_reply:reply}})\n }catch(e){}\n}\nreturn r",
        "mode": "runOnceForAllItems"
      },
      "id": "k7", "name": "AI Analyze", "type": "n8n-nodes-base.code", "typeVersion": 1, "position": [1100,400]
    },
    {
      "parameters": { "resource": "message", "operation": "sendMessage", "chatId": "718322381", "text": "={{ $json._tg }}", "additionalFields": {} },
      "id": "k8", "name": "Notify TG", "type": "n8n-nodes-base.telegram", "typeVersion": 1, "position": [1300,350],
      "credentials": { "telegramApi": { "id": "dc-telegram-cred-001", "name": "Digital Clone Telegram" } }
    },
    {
      "parameters": { "resource": "sms", "operation": "send", "from": "whatsapp:+14155238886", "to": "whatsapp:+919026867140", "message": "={{ $json._wa }}" },
      "id": "k9", "name": "Notify WA", "type": "n8n-nodes-base.twilio", "typeVersion": 1, "position": [1300,500]
    }
  ],
  "connections": {
    "Poll 15 Min": {"main":[[{"node":"Fetch Positions","type":"main","index":0},{"node":"Fetch Holdings","type":"main","index":0},{"node":"Fetch Margins","type":"main","index":0}]]},
    "Fetch Positions": {"main":[[{"node":"Merge Data","type":"main","index":0}]]},
    "Fetch Holdings": {"main":[[{"node":"Merge Data","type":"main","index":1}]]},
    "Fetch Margins": {"main":[[{"node":"Merge Data","type":"main","index":2}]]},
    "Merge Data": {"main":[[{"node":"Skip Empty","type":"main","index":0}]]},
    "Skip Empty": {"main":[[{"node":"AI Analyze","type":"main","index":0}]]},
    "AI Analyze": {"main":[[{"node":"Notify TG","type":"main","index":0},{"node":"Notify WA","type":"main","index":0}]]}
  },
  "settings": { "timezone": "Asia/Kolkata", "saveManualExecutions": true },
  "staticData": null, "pinData": {}, "versionId": "2.0.0"
}
