n8n/workflows/hub/ai-hub.json
{
  "id": "ai-hub",
  "name": "ai-hub",
  "nodes": [
    {
      "parameters": {},
      "id": "a1b2c3d4-1000-4000-a000-000000000001",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "// Validate and build the system + user prompt for Ollama.\nconst results = [];\n\nfor (const item of $input.all()) {\n  const ev = item.json;\n\n  const required = ['schema_version', 'event_id', 'correlation_id', 'source', 'type', 'occurred_at'];\n  const missing = required.filter(f => !ev[f]);\n  if (missing.length > 0) {\n    throw new Error(`Missing fields: ${missing.join(', ')}`);\n  }\n\n  const systemPrompt = `You are Digital Clone, an AI assistant running on the owner's local hardware. Nothing leaves this machine.\n\nRules:\n1. You have ZERO authority to execute trades, move money, or take irreversible actions.\n2. Use ONLY provided data. Never invent facts.\n3. Be concise and direct.\n\nRouting paths (choose one based on the user's request):\n- \"alpha\": informational reply needed → draft a concise reply\n- \"beta\": task/follow-up to log → acknowledge\n- \"deny\": request violates a guardrail → refuse politely\n\nOutput ONLY valid JSON with this structure:\n{\"schema_version\":\"1.0\",\"correlation_id\":\"CORR_ID\",\"path\":\"alpha|beta|deny\",\"summary\":\"one-line summary\",\"reply\":{\"text\":\"reply message\",\"format\":\"plain\"},\"confidence\":0.9}`;\n\n  const userPrompt = `User message from ${ev.source}: \"${(ev.text || '').substring(0, 2000)}\"\nSender: ${ev.actor ? ev.actor.display_name : 'unknown'} (${ev.source})\nCorrelation ID: ${ev.correlation_id}\nType: ${ev.type}\n\nDetermine the routing path and generate the JSON response.`;\n\n  results.push({\n    json: {\n      ...ev,\n      _system_prompt: systemPrompt,\n      _user_prompt: userPrompt\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "a1b2c3d4-1000-4000-a000-000000000002",
      "name": "Build Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [500, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://ollama:11434/api/generate",
        "authentication": "none",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "llama3:8b"
            },
            {
              "name": "prompt",
              "value": "={{ $json._system_prompt + '\\n\\n---\\n\\n' + $json._user_prompt }}"
            },
            {
              "name": "stream",
              "value": "false"
            },
            {
              "name": "options.temperature",
              "value": "0.1"
            }
          ]
        },
        "options": {
          "timeout": 120000,
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "a1b2c3d4-1000-4000-a000-000000000003",
      "name": "Call Ollama",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [750, 300]
    },
    {
      "parameters": {
        "jsCode": "// Parse Ollama response and build ai-output contract.\nconst results = [];\n\nfor (const item of $input.all()) {\n  const d = item.json;\n  let aiOutput;\n\n  // Ollama /api/generate returns { \"response\": \"...\" }\n  const rawResponse = d.response || d._ollama_response || '';\n\n  try {\n    // Try to extract JSON from the response\n    let jsonStr = String(rawResponse).trim();\n    const fenceMatch = jsonStr.match(/```(?:json)?\\s*([\\s\\S]*?)```/);\n    if (fenceMatch) jsonStr = fenceMatch[1].trim();\n    aiOutput = JSON.parse(jsonStr);\n  } catch (e) {\n    // Fallback: use the raw text as alpha reply\n    aiOutput = {\n      schema_version: \"1.0\",\n      correlation_id: d.correlation_id || '',\n      path: \"alpha\",\n      summary: \"AI response\",\n      reply: { text: rawResponse.substring(0, 1500), format: \"plain\" },\n      confidence: 0.7\n    };\n  }\n\n  aiOutput.correlation_id = d.correlation_id || aiOutput.correlation_id;\n  aiOutput.schema_version = \"1.0\";\n  if (!['alpha', 'beta', 'deny'].includes(aiOutput.path)) {\n    aiOutput.path = 'gamma';\n  }\n  aiOutput.summary = aiOutput.summary || 'Processed';\n  if (aiOutput.reply && !aiOutput.reply.format) aiOutput.reply.format = 'plain';\n  if (!aiOutput.actions) aiOutput.actions = [];\n  if (!aiOutput.guardrail) aiOutput.guardrail = { triggered: aiOutput.path === 'deny' };\n  if (!aiOutput.confidence) aiOutput.confidence = 0.8;\n\n  results.push({\n    json: {\n      event_id: d.event_id,\n      correlation_id: d.correlation_id,\n      source: d.source,\n      type: d.type,\n      occurred_at: d.occurred_at,\n      actor: d.actor,\n      channel: d.channel,\n      text: d.text,\n      data: d.data,\n      attachments: d.attachments,\n      metadata: d.metadata,\n      raw: d.raw,\n      ai_path: aiOutput.path,\n      ai_summary: aiOutput.summary,\n      ai_reply_text: aiOutput.reply ? aiOutput.reply.text : null,\n      ai_reply_format: aiOutput.reply ? (aiOutput.reply.format || 'plain') : null,\n      ai_actions: aiOutput.actions,\n      ai_guardrail_triggered: aiOutput.guardrail ? aiOutput.guardrail.triggered : false,\n      ai_guardrail_rule: aiOutput.guardrail ? (aiOutput.guardrail.rule || null) : null,\n      ai_guardrail_message: aiOutput.guardrail ? (aiOutput.guardrail.message || null) : null,\n      ai_confidence: aiOutput.confidence\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "a1b2c3d4-1000-4000-a000-000000000004",
      "name": "Parse AI Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [1000, 300]
    },
    {
      "parameters": {
        "respondWith": "allEntries"
      },
      "id": "a1b2c3d4-1000-4000-a000-000000000005",
      "name": "Respond to Spoke",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1250, 300]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [[{ "node": "Build Prompt", "type": "main", "index": 0 }]]
    },
    "Build Prompt": {
      "main": [[{ "node": "Call Ollama", "type": "main", "index": 0 }]]
    },
    "Call Ollama": {
      "main": [[{ "node": "Parse AI Output", "type": "main", "index": 0 }]]
    },
    "Parse AI Output": {
      "main": [[{ "node": "Respond to Spoke", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "timezone": "UTC",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "pinData": {},
  "versionId": "2.0.0"
}
