n8n/workflows/spokes/slack-inbound/slack-inbound.json
{
  "name": "slack-inbound",
  "nodes": [
    {
      "parameters": {
        "events": [
          "app_mention",
          "message.channels",
          "message.groups",
          "message.im"
        ]
      },
      "id": "b2c3d4e5-2000-4000-b000-000000000001",
      "name": "Slack Trigger",
      "type": "n8n-nodes-base.slackTrigger",
      "typeVersion": 1,
      "position": [250, 300],
      "credentials": {
        "slackApi": {
          "id": "DC_SLACK_CRED",
          "name": "Digital Clone Slack"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Filter: ignore messages from bots and ourselves to prevent loops.\n// Slack events arrive via the Slack Trigger node.\n\nconst items = $input.all();\nconst filtered = [];\n\nfor (const item of items) {\n  const ev = item.json;\n\n  // Skip bot messages (prevents self-reply loops)\n  if (ev.bot_id || (ev.subtype === 'bot_message')) {\n    continue;\n  }\n\n  // Skip messages from the app/bot itself (if user id matches)\n  if (ev.user && ev.authed_users && ev.authed_users.includes(ev.user)) {\n    continue;\n  }\n\n  // Skip message_changed, message_deleted, etc. — only process new messages\n  if (ev.subtype && ev.subtype !== 'file_share') {\n    continue;\n  }\n\n  // Skip channel_join, channel_leave etc.\n  if (ev.type && ev.type !== 'message' && ev.type !== 'app_mention') {\n    continue;\n  }\n\n  filtered.push(item);\n}\n\n// If nothing to process, return empty — workflow stops gracefully\nreturn filtered;"
      },
      "id": "b2c3d4e5-2000-4000-b000-000000000002",
      "name": "Filter Non-Bot",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [500, 300]
    },
    {
      "parameters": {
        "jsCode": "// Map Slack payload → inbound-event contract\n// See contracts/inbound-event.schema.json\n\nconst results = [];\n\nfor (const item of $input.all()) {\n  const slack = item.json;\n\n  // Extract the actual message event (Slack wraps events)\n  const event = slack.event || slack;\n  const channelId = event.channel || slack.channel?.id || '';\n  const userId = event.user || '';\n  const userProfile = slack.user_profile || {};\n\n  // Determine event type\n  let eventType = 'message';\n  if (event.text && event.text.startsWith('/')) {\n    eventType = 'command';\n  }\n\n  // Generate unique IDs\n  const eventId = crypto.randomUUID();\n  const correlationId = crypto.randomUUID();\n\n  results.push({\n    json: {\n      schema_version: '1.0',\n      event_id: eventId,\n      correlation_id: correlationId,\n      source: 'slack',\n      type: eventType,\n      occurred_at: new Date(event.event_ts ? parseInt(event.event_ts.split('.')[0]) * 1000 : Date.now()).toISOString(),\n      actor: {\n        id: userId,\n        display_name: userProfile.real_name || userProfile.display_name || userId,\n        is_bot: event.bot_id ? true : false\n      },\n      channel: {\n        id: channelId,\n        name: slack.channel_name || '',\n        thread_id: event.thread_ts || null\n      },\n      text: event.text || '',\n      attachments: event.files ? event.files.map(f => ({\n        type: f.mimetype || 'application/octet-stream',\n        url: f.url_private || f.permalink || '',\n        name: f.name || f.title || '',\n        mime: f.mimetype || ''\n      })) : [],\n      raw: slack,\n      metadata: {\n        team_id: slack.team_id || '',\n        locale: 'en',\n        message_ts: event.event_ts || ''\n      }\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "b2c3d4e5-2000-4000-b000-000000000003",
      "name": "Map to inbound-event",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [750, 300]
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": "ai-hub",
        "mode": "wait",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "b2c3d4e5-2000-4000-b000-000000000004",
      "name": "Call Hub",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 2,
      "position": [1000, 300]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.ai_path }}",
                    "rightValue": "alpha",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "or"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.ai_path }}",
                    "rightValue": "gamma",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "or"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.ai_path }}",
                    "rightValue": "beta",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "or"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.ai_path }}",
                    "rightValue": "deny",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "or"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "b2c3d4e5-2000-4000-b000-000000000005",
      "name": "Route by Path",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "={{ $json.raw.event.channel || $json.channel.id }}",
        "text": "={{ $json.ai_reply_text }}",
        "otherOptions": {
          "mrkdwn": "={{ $json.ai_reply_format === 'markdown' }}",
          "thread_ts": "={{ $json.raw.event.thread_ts || $json.channel.thread_id }}"
        }
      },
      "id": "b2c3d4e5-2000-4000-b000-000000000006",
      "name": "Post Reply (alpha/gamma)",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2,
      "position": [1500, 150],
      "credentials": {
        "slackApi": {
          "id": "DC_SLACK_CRED",
          "name": "Digital Clone Slack"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "={{ $json.raw.event.channel || $json.channel.id }}",
        "text": "={{ $json.ai_summary || 'Task logged.' }}",
        "otherOptions": {
          "mrkdwn": false
        }
      },
      "id": "b2c3d4e5-2000-4000-b000-000000000007",
      "name": "Ack (beta)",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2,
      "position": [1500, 350],
      "credentials": {
        "slackApi": {
          "id": "DC_SLACK_CRED",
          "name": "Digital Clone Slack"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "={{ $json.raw.event.channel || $json.channel.id }}",
        "text": "={{ '⚠️ ' + ($json.ai_guardrail_message || 'This action is not permitted.') }}",
        "otherOptions": {
          "mrkdwn": true
        }
      },
      "id": "b2c3d4e5-2000-4000-b000-000000000008",
      "name": "Post Denial (deny)",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2,
      "position": [1500, 550],
      "credentials": {
        "slackApi": {
          "id": "DC_SLACK_CRED",
          "name": "Digital Clone Slack"
        }
      }
    }
  ],
  "connections": {
    "Slack Trigger": {
      "main": [
        [
          {
            "node": "Filter Non-Bot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Non-Bot": {
      "main": [
        [
          {
            "node": "Map to inbound-event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map to inbound-event": {
      "main": [
        [
          {
            "node": "Call Hub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Hub": {
      "main": [
        [
          {
            "node": "Route by Path",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Path": {
      "main": [
        [
          {
            "node": "Post Reply (alpha/gamma)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Post Reply (alpha/gamma)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ack (beta)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Post Denial (deny)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "timezone": "={{ $env.GENERIC_TIMEZONE }}",
    "saveManualExecutions": true
  },
  "staticData": null,
  "pinData": {},
  "versionId": "1.0.0"
}
